# Aantal fietsryers oor 'n brug voorspelling in Python
Goeie oefening om ou ML tegnieke te hersien en Python gewoond te raak.

In [1]:
import sys, pandas as pd, numpy as np, sklearn, statsmodels

In [2]:
import sys, os, pandas as pd

print("Python:", sys.version)
print("Python exe:", sys.executable)
print("CWD:", os.getcwd())         # should end with .../DataSciencePythonHandbook_SeattleBikes/notebooks
print("Pandas:", pd.__version__)

Python: 3.12.3 (main, Jun 18 2025, 17:59:45) [GCC 13.3.0]
Python exe: /home/gak68/DataSciencePythonHandbook_SeattleBikes/.venv/bin/python
CWD: /home/gak68/DataSciencePythonHandbook_SeattleBikes/notebooks
Pandas: 2.3.1

# Import data
Ek begin dink ek hou van Python, dis baie intuitief!

In [37]:
import pandas as pd

# wd is reeds ingestel
# raw_path = "../data/raw/fremont_hourly.csv"  
df = pd.read_csv(
    "../data/raw/fremont_hourly.csv",
    index_col="Date",
    parse_dates=True,
    date_format="%m/%d/%Y %I:%M:%S %p",  #lyk my in python kan mens n komma aan die einde los, nie soos R nie
)
#df = df.set_index("Date").sort_index()



df=df.sort_index(ascending=True)

df.head(12)

,"Fremont Bridge Sidewalks, south of N 34th St Total","Fremont Bridge Sidewalks, south of N 34th St Cyclist West Sidewalk","Fremont Bridge Sidewalks, south of N 34th St Cyclist East Sidewalk"
Date,,,
2012-10-02 13:00:00,55.0,7.0,48.0
2012-10-02 14:00:00,130.0,55.0,75.0
2012-10-02 15:00:00,152.0,81.0,71.0
2012-10-02 16:00:00,278.0,167.0,111.0
2012-10-02 17:00:00,563.0,393.0,170.0
2012-10-02 18:00:00,381.0,236.0,145.0
2012-10-02 19:00:00,175.0,104.0,71.0
2012-10-02 20:00:00,86.0,51.0,35.0
2012-10-02 21:00:00,63.0,35.0,28.0
2012-10-02 22:00:00,42.0,27.0,15.0
2012-10-02 23:00:00,13.0,9.0,4.0
2012-10-03 00:00:00,13.0,9.0,4.0

In [22]:
df.index.is_monotonic_increasing, df.index.inferred_type, df.index[:3] #looks good

(True,
 'datetime64',
 DatetimeIndex(['2012-10-02 13:00:00', '2012-10-02 14:00:00',
                '2012-10-02 15:00:00'],
               dtype='datetime64[ns]', name='Date', freq=None))

In [38]:
daily=pd.DataFrame
daily=df.resample('D').sum()

In [39]:
daily.head(3)

,"Fremont Bridge Sidewalks, south of N 34th St Total","Fremont Bridge Sidewalks, south of N 34th St Cyclist West Sidewalk","Fremont Bridge Sidewalks, south of N 34th St Cyclist East Sidewalk"
Date,,,
2012-10-02,1938.0,1165.0,773.0
2012-10-03,3521.0,1761.0,1760.0
2012-10-04,3475.0,1767.0,1708.0

In [40]:
daily['Total']=daily.sum(axis=1)
daily=daily[['Total']]

In [41]:
daily.head(4)

             Total
Date
2012-10-02  3876.0
2012-10-03  7042.0
2012-10-04  6950.0
2012-10-05  6296.0

In [42]:
from pathlib import Path
import os

print("CWD:", os.getcwd())  

daily_path = Path("../data/processed/daily.csv")
daily_path.parent.mkdir(parents=True, exist_ok=True) 
daily.to_csv(daily_path)  # save!
print("Wrote:", daily_path, "| rows:", len(daily))

CWD: /home/gak68/DataSciencePythonHandbook_SeattleBikes/notebooks
Wrote: ../data/processed/daily.csv | rows: 4686